.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1 {
    font-size: max(4vw, 36px);
}

.hero p {
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form {
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.hero button {
    border: none;
    background: #7927ff;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.crypto-table {
    max-width: 800px;
    margin: auto;
    background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
    border-radius: 15px;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.market-cap {
    text-align: right;
}

.table-layout:last-child {
    border: none;
}

.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout img {
    width: 35px;

}

.table-layout .green {
    color: #00D515;
    text-align: center;
}

.table-layout .red {
    color: #ff4646;
    text-align: center;
}


@media (max-width:768px) {
    .table-layout {
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }

    .market-cap {
        display: none;
    }
}

@media (max-width:500px) {
    .table-layout div img {
        width: 25px;
    }

    .table-layout {
        font-size: 13px;
    }

    .hero form input {
        width: 100px;
    }
}

.go-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    color: white;
    background: linear-gradient(45deg, red, orange, yellow, green, cyan, blue, violet);
    background-size: 300% 300%;
    animation: rainbow 4s linear infinite;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  